textarea{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    width: 80%;
    min-height: 300px;
}

input[name=title], input[name=tags]{
    width: 250px;
}

html{
    font-family: "Times New Roman", Times, serif !important;
    font-size: 16px !important;
}

#titles{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

button{
    background-color: white;
    border: none;
}

button p{
    color: red;
}

