*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

#main{
    margin: 0px auto;
    max-width: 1000px;
}

.hidden{
    visibility: hidden;
}

.none{
    display: none;
}

#nav {
     width: 100%;
     display:block;
     border-radius: 0px !important;
     -moz-border-radius: 6px !important;
     text-align: center;
     background: teal; 
     background: -webkit-linear-gradient(right, #4ba2c2 , #f6e4e8); 
     background: -o-linear-gradient(left, #4ba2c2 , #f6e4e8); 
     background: -moz-linear-gradient(left, #4ba2c2 , #f6e4e8); 
     background: linear-gradient(to left, #4ba2c2 , #f6e4e8); 
}

#nav a:hover{
    color: #485ec2;
    text-decoration: none;
}

#nav #desktop_nav a:hover, #nav #mobile_nav a:hover{
    background-color: #fbf3f7;
}

#brand_container{
    background: teal; 
    background: -webkit-linear-gradient(left, #4ba2c2 , #f6e4e8); 
    background: -o-linear-gradient(right, #4ba2c2 , #f6e4e8); 
    background: -moz-linear-gradient(right, #4ba2c2 , #f6e4e8); 
    background: linear-gradient(to right, #4ba2c2 , #f6e4e8); 
    width: 100%;
    height: 80px;
    vertical-align:middle;
    text-align: center;
}

#brand{
    font-size: 50px;
    line-height: 80px;
    color: white; 
}

#desktop_nav{
    max-width: 1000px;
    margin:0 auto;
    height: 50px;
    vertical-align: middle;
}

#desktop_nav a{
    line-height: 50px;
    color: white;
    font-size: 22px;
    display: absolute;
}

#z_index{
    z-index: 9999;
}

#expand_menu_button{
    visibility: hidden;
    vertical-align: middle;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

#mobile_nav{
    display:none;
    text-align:center;
    vertical-align:middle;
    background: teal; 
    background: -webkit-linear-gradient(#4ba2c2 , #f6e4e8); 
    background: -o-linear-gradient(#4ba2c2 , #f6e4e8); 
    background: -moz-linear-gradient(#4ba2c2 , #f6e4e8); 
    background: linear-gradient(#4ba2c2 , #f6e4e8);
}

#mobile_nav li{
    height: 35px;
}

#mobile_nav li a{
    display:block;
    line-height: 35px;
    margin: 0px;
    font-size: 18px;
    color: white;
}

#collapse_menu_button{
    display: none;
    height:35px;
    line-height: 35px;
    background-color: transparent;
    width: 100%;
}



@media only screen and (max-width: 500px) {
    #brand_container{
        height:40px;
    }
    #brand{
        line-height: 40px;
        font-size: 26px;
    }

    #desktop_nav{
        height: 35px;
    }

    #desktop_nav a{
        line-height: 35px;
    }

    #expand_menu_button{
        height: 35px;
        line-height: 35px;
    }



    #mobile_nav{
        display: block;
    }
    #expand_menu_button{
        visibility: visible;
    }
    #desktop_links{
        display: none;
    }
    
}

@media only screen and (min-width: 501px) {
    #collapse_menu_button{
        visibility: hidden;
    }
    /*
    
    #mobile_nav{
        display: none;
    }
    #expand_menu_button{
        visibility: hidden;
    }
    desktop_links{
        display: block;
    }
    */
}



